<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="./stylesheets/login.css">
</head>
<body>
<header class="header">
    <nav class="navbar">
        <ul class="nav-parent">
            <li><a href="/register"></a>Blog</li>
            <li><a href="/register"></a>Projects</li>
            <li><a href="/register"></a>About</li>
            <li><a href="/login"></a>Newsletter</li>
        </ul>
    </nav>
</header>
<div class="form-container">
    <h1>SIGN IN</h1>
    <% if (error) { %>
        <p class="error"><%= error %></p>
    <% } %>
    <form class="login-form" action="/login" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign In</button>
    </form>
    <p>Don't have an account? <a href="/register">Register here</a>.</p>
    <div class="social-links">
        <div class="social-link">
            <p>© 2023</p>
            <a href="/register">Twitter </a>
            <a href="/register">LinkedIn </a>
            <a href="/register">Email </a>
            <a href="/register">RSS feed </a>
            <a href="/register">Add to Feedly </a>
        </div>
    </div>
</div>

</body>
</html>
