<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Blog | New Blog</title>
    <link rel="stylesheet" href="/stylesheets/newblog.css">
</head>
<body>
<header class="header">
    <nav class="navbar">
        <ul class="nav-parent">
            <li><a href="/register"></a>Blog</li>
            <li><a href="/register"></a>Projects</li>
            <li><a href="/register"></a>About</li>
            <li><a href="/login"></a>Newsletter</li>
        </ul>
    </nav>
</header>
<div class="container">
    <h1>NEW POST</h1>
    <% if (error) { %>
        <p class="error-message"><%= error %></p>
    <% } %>
    <form class="blog-form" action="/blogs/new" method="post">
        <input type="text" name="blog-title" placeholder="Blog Title">
        <input type="text" name="description" placeholder="Description">
        <ul class="nav-parent">
            <li><a href="/register"></a>Software Development</li>
            <li><a href="/register"></a>Tools</li>
            <li><a href="/register"></a>SaaS</li>
            <li><a href="/login"></a>Podcasts</li>
            <li><a href="/login"></a>Customer Success</li>
        </ul>
        <textarea name="content" placeholder="Message"></textarea>
        <button class="btn" type="submit">Send Message</button>
    </form>
</div>
</body>
</html>