<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <title>Register</title>
    <link rel="stylesheet" href="./stylesheets/register.css">
</head>
<body>
<header class="header">
    <nav class="navbar">
        <ul class="nav-parent">
            <li><a href="/login"></a>Blog</li>
            <li><a href="/register"></a>Projects</li>
            <li><a href="/register"></a>About</li>
            <li><a href="/register"></a>Newsletter</li>
        </ul>
    </nav>
</header>
<div class="form-container">
    <h1>SIGN UP</h1>

    <% if (error) { %>
        <p class="error"><%= error %></p>
    <% } %>

    <form class="reg-form" action="/register" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="/login">Login here</a>.</p>
</div>
</body>
</html>
